body{
  background-color:  var(--backgroundColor);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  color:white;
}
:root{
  --backgroundColor: #202020;
  --lightTile : #e1e2c8;
  --lightTileOnHover : #feffe4;
  --lightTileOnClick : rgb(248,248,110);
  --darkTile : #779556;
  --darkTileOnHover : #8caf66;
  --darkTileOnClick : rgb(200,213,60);
  --squareSize : 75px;
  --boardSize : 600px;
  --pieceSize : 55px;
  --pieceMargin : 10px;
  --height : 100vh;
  --width: 100vw;
} 


